@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Neucha&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #051524;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neucha', 'Times New Roman', cursive;
}
